/* Global */
html {
}
body {
    font-family: 'Kanit';
    background-color: green;
}
a {
    font-family: 'Kanit'
}

/* Event info */
#event-info {
}
#event-info__title {
}
#event-info__tagline {
}
#event-info__date {
}
#event-info__place {
}

/* Event description */
#event-description {
}

/* Sessions */
#sessions {
}
#sessions__heading {
}
.sessions__list {
}
.sessions__list > li {
}

/* Session */
.session-time {
}
.session-item {
}
.session-item__room {
}
.session-item__speaker {
}
.session-item__title {
}
.session-item__description {
}
