/* Global */

html {}

body {
  margin: 0;
}

a {}

/* Event info */

#event-info {}

#event-info__title {}

#event-info__tagline {}

#event-info__date {}

#event-info__place {}

/* Event description */

#event-description {
  color: #fff;
  text-align: center;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 5px #fff;
}

/* Sessions */

#sessions {}

#sessions__heading {}

.sessions__list {}

.sessions__list>li {}

/* Session */

.session-time {}

.session-item {}

.session-item__room {}

.session-item__speaker {}

.session-item__title {}

.session-item__description {}
