/* Global */
html {
    background: -webkit-linear-gradient(top, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet);
    background-attachment: fixed;
}
body {
}
a {
}

/* Event info */
#event-info {
}
#event-info__title {
}
#event-info__tagline {
}
#event-info__date {
}
#event-info__place {
}

/* Event description */
#event-description {
}

/* Sessions */
#sessions {
}
#sessions__heading {
}
.sessions__list {
}
.sessions__list > li {
}

/* Session */
.session-time {
}
.session-item {
}
.session-item__room {
}
.session-item__speaker {
}
.session-item__title {
}
.session-item__description {
}
