/* Global */

html {}

body {
  margin: 0;
  border-align : center;
}

a {}



/* Event info */
#event-info {
    background-color: black;
    color: #fff;
    color: rgba(255,255,255,1);
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    padding: 20px;
}
#event-info__title {
    font-size: 40px;
    padding: 0;
    margin: 0;
}
#event-info__tagline {
    padding: 0 20px;
    margin: 0;
}
#event-info__date {
    padding: 0 20px;
    margin: 0;
}
#event-info__place {
    padding: 0 20px;
    margin: 0;
}

/* Event description */

#event-description {}

/* Sessions */

#sessions {}

#sessions__heading {}

.sessions__list {}

.sessions__list>li {
    border: 1px  #000000;
    outline:1; 
    height:25px; 
    width: 10px; 



}

/* Session */

.session-time {}

.session-item {}

.session-item__room {}

.session-item__speaker {}

.session-item__title {}

.session-item__description {}
