body {
  font-family: Kanit, sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  text-align: center;
}

@font-face {
  font-family: againtsregular;
  src: url(fonts/againts-webfont.woff2) format(woff2), url(fonts/againts-webfont.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

#event-info {
  font-size: 20px;
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  text-overflow: clip;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  padding: 20px;
}

#event-info__title {
  border-bottom: 0;
  font-weight: 100;
  letter-spacing: 2px;
  position: relative;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
  animation-timing-function: ease-in-out;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

#event-description {
  color: #fff;
  width: 48%;
  max-width: 980px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px auto;
  padding: 0 3rem 3rem 2rem;
}

#sessions {
  width: 30%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
  padding: 0 3rem 0 2rem;
}

#sessions__heading {
  background-color: #9e9e9e;
  margin-left: -32px;
  margin-right: -49px;
  padding: 12px 0;
}

.session-item {
  display: inline-block;
}

.session-item__speaker_image {
  width: 100px;
  height: 100px;
}

.sessions__list {
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sessions__list:before,
.sessions__list:after {
  display: block;
  border: 1px solid #000;
  border-bottom: 0;
  width: 48%;
  padding-bottom: 10px;
}

.sessions__list:before {
  content: 'เวลา';
  border-right: 0;
  text-align: center;
}

.sessions__list:after {
  content: 'รายการ';
  position: absolute;
  top: 0;
  left: 48%;
  margin-left: 1px;
  text-align: left;
}

.sessions__list > li {
  text-align: center;
  width: 48%;
  border: 1px solid #000;
  margin-bottom: -1px;
  height: 120px;
}

.sessions__list > li:nth-child(even) {
  text-align: left;
  margin-left: -1px;
}


.container {
  width: 960px;
  margin: 0 auto;
}

#sponsors {
  color: #333;
  margin-top: 80px;
  background-color: #FFF;
  padding: 10px 10px 50px;
}

#sponsor-info__title {
  color: #000;
}

#sponsors-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.sponsors_img {
  width: 200px;
  height: 200px;
  background-size: 100% auto!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}

#sprint3r {
  width: 200px;
  height: 200px;
  background: url(http://sprint3r.com/assets/img/sprint3r-cover.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  background: #6b6b6b;
  color: #e3e3e3;
  padding: 20px;
}

#event-info__tagline,
#event-info__date,
#event-info__place {
  margin: 0;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}