/* Global */
html {
    background: -webkit-linear-gradient(top, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to bottom, orange , yellow, green, cyan, blue, violet);
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  background: black;
  color: #fff;
}
@font-face {
    font-family: 'againtsregular';
    src: url("fonts/againts-webfont.woff2") format('woff2'), url("fonts/againts-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
/* Event info */
#event-info {
    text-align: center; 

    font-size: 20px;
   
}
#event-info__title {
    font-size: 70px;
    border-bottom: 0;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'againtsregular';
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.1);
    animation-timing-function: ease-in-out;
}

/* Event info */
#event-info {
    background-color: black;
    color: #fff;
    color: rgba(255,255,255,1);
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    padding: 20px;
}
#event-info__title {
    font-size: 40px;
    padding: 0;
    margin: 0;
}
#event-info__tagline {
    padding: 0 20px;
    margin: 0;
}
#event-info__date {
    padding: 0 20px;
    margin: 0;
}
#event-info__place {
    padding: 0 20px;
    margin: 0;
}

/* Event description */
#event-description {
    /*background: #fff;*/
    width: 48%;
    padding: 0 3rem 3rem 2rem;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

/* Sessions */
#sessions {
    margin-top: 5%;
    /* margin-top: 5%; */
    /* background: #fff; */
    width: 30%;
    /* display: inline; */
    padding: 0 3rem 0 2rem;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    /* margin: 0 !important; */
    /* clear: both; */
    margin: 0 auto;
}
#sessions__heading {
  text-align: center;
}
.sessions__list > li {
  border: 1px solid;
  padding: 10px 0;
}
#event-description {}

/* Sessions */

#sessions {}

#sessions__heading {}

.sessions__list {
  list-style: none;
  padding-left: 0;
}

.sessions__list>li {}

/* Session */

.session-time {}

.session-item {}

.session-item__room {}

.session-item__speaker {}

.session-item__speaker_image {
    width: 100px;
    height: 100px;
}

.session-item__title {}

.session-item__description {}

#sponsors-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
}

#sprint3r {
  width: 200px;
  height: 200px;
  background: url("http://sprint3r.com/assets/img/sprint3r-cover.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#sponsors {
  text-align: center;
  margin-top: 80px;
}
