/* Global */

html {}

body {
  margin: 0;
}

a {}

/* Event info */

#event-info {}

#event-info__title {}

#event-info__tagline {}

#event-info__date {}

#event-info__place {}

/* Event description */

#event-description {}

/* Sessions */

#sessions {}

#sessions__heading {}

.sessions__list {}

.sessions__list>li {}

/* Session */

.session-time {}

.session-item {}

.session-item__room {}

.session-item__speaker {}

.session-item__title {}

.session-item__description {}

#sponsors-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px;
}

#sprint3r {
  width: 200px;
  height: 200px;
  background: url("http://sprint3r.com/assets/img/sprint3r-cover.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}